/* styles.css */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .odd-section {
            background-color: #f2f2f2;
            padding: 20px;
        }

        .even-section {
            background-color: #ddd;
            padding: 20px;
        }
		
		.box-container {
			display: flex;
			justify-content: space-between; /* Adjust this as needed */
			align-items: center; /* Adjust this as needed */
			margin-top: 20px; /* Adjust the margin as needed */
		}

		.box {
			flex: 1;
			text-align: center;
			padding: 10px;
			border: 1px solid #ccc;
			background-color: #f0f0f0;
			/* You can add more styling as desired */
		}






