/* styles.css */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .odd-section {
            background-color: #f2f2f2;
            padding: 20px;
        }

/* Mobile-responsive styles */


@media (max-width: 768px) {
    .even-section {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }

    .box-container {
        flex-direction: column; /* Stack boxes vertically on smaller screens */
    }

    .box {
        margin-top: 10px; /* Add some space between the boxes */
    }
}


